@import url('https://fonts.googleapis.com/css?family=Noto+Serif+KR:400,700');

* {
  padding: 0;
  margin: 0;
}

html {
  height: 100%;
}

body {
    min-height: 100% !important;
    background-image: url(../assets/bg.png);
    height: 100%;
}

.App {
  text-align: center;
  font-family: 'Noto Serif KR', sans-serif;
  height: 100%;
}


