
.header-text {
    font-size: 20px;
}

.header-data {
    font-size: 16px;
}

@media(min-width: 800px) {
    .header-text {
        font-size: 28px;
    }

    .header-data {
        font-size: 24px;
    }
}